*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 54%, 90%);

}

main{
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
}
footer
{
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
}